:root {
    --main-black: #191919;
    --main-blue-light: #547980;
    --main-blue-dark: #3B83BD;
    --main-cyan: #45ADA8;
    
    --main-gray-dark: #333;
    --main-gray-light: #888;
    
    --main-green: #9DE0AD;
    --main-white: #E5FCC2;
    --main-red: #EC2049;
}

.main-header {
    background-image: linear-gradient(to left, rgba(84, 121, 128, .8), rgba(59, 131, 189, .8)), url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
}

.main-nav {
    height: 7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.main-header__logo {
    height: 5rem;
    margin-left: 1rem;
}

/* Menú */

.main-header__nav-icon {
    margin-right: 3rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    min-width: 4rem;
    min-height: 4rem;
    background-color: rgb(255, 255, 255, 0.9);
    cursor: pointer;
}

.main-header__nav-icon img {
    display: inline-block;
    position: relative;
    top: 1rem;
    min-width: 1.5rem;
    width: 3rem;
}

.main-header__nav { 
    height: 80vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    
}

/* Menu list */

.main-nav__items {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 30rem;
    background-color: #fff;    
}


.main-nav__name {
    display: inline-block;
    width: 100%;
    height: 7rem;
    font-size: 2rem;
    font-weight: 700;
    background: rgba(0,0,0,.9);
    font-family: 'Libre Baskerville', serif;
}

.main-nav__name span {
    color: var(--main-gray-dark);
    display: inline-block;
    color: white;
    width: 100%;
    height: 100%;
    line-height: 7rem; /* Center text vertically */
}

.main-nav__item {

    display: inline-block;
    width: 100%;
    height: 7rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.main-nav__link {
    color: var(--main-gray-dark);
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 7rem; /* Center text vertically */
}

.main-nav__item:hover {
    background-color: rgba(136, 136, 136, .3);
    text-decoration: none;
}

.main-nav__link:hover {
    text-decoration: none;
    color: black;
}


/* To event 'click'*/
.display {
    display: none;
}


/* Título */
.header__text-box {
    width: 80%;

    /*Centro el div del título*/
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.main-title {
    font-size: 6.5rem;
    letter-spacing: .5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #E5FCC2;
}

.sub-title {
    font-size: 3rem;
    letter-spacing: 1rem;
    color: #E5FCC2;
}


/* SECTION ABOUT */

.section-about {
    padding: 6rem 0;
    background-color: #fff;
}


.about__images {
    margin-top: 15rem;
}

.about__description {
    position: relative;
    margin-top: 5rem;
}

.about__image {
    display: block;
    position: absolute;
    
    max-width: 45rem;
    width: 35rem;
    border-radius: 1rem;
}

.about__image--1 {
    left: 0;
    top: 0;
}

.about__image--2 {
    left: 0rem;
    top: 10rem;
}

.about__image--3 {
    left: 15rem;
    top: 5rem;
}


.about__description {
    background-color: #fff;
}

.description__title {
    margin: 1rem 0;
    text-align: right;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    line-height: 3.6rem;
}

.clase__title {
    font-size: 2rem;
    text-align: right;
    margin-top: 2rem;
    text-transform: capitalize;
    word-spacing: .4rem;
    letter-spacing: .2rem;
    color: #3B83BD;
}

.clase__description {
    line-height: 1.5;
    font-size: 1.4rem;
    text-align: right;
    letter-spacing: .1rem;
}


/* Backdrop */
.backdrop {
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, .5);
}

/*Media Query - Tablet - Home Page*/

@media only screen and (max-width: 768px) {

    /* SECTION ABOUT */
    .section-about {
        margin: 5rem 0;
    }

    .about__images {
        display: none;
    }

    .about__image {
        position: static;
        
        max-width: 20rem;
    }

    .description__title {
        text-align: left;
    }

    .clase__title {
        text-align: left;
    }

    .clase__description {
        text-align: left;
    }

    .about__description {
        background-color: #fff;
    }
    
    /* Contact */
    .contact {
        margin: 0;
        flex-wrap: wrap;
        align-items: center;
        padding: 5rem;
        
        display: flex;
        justify-content: space-between;
    }
    
    .contact-list {
        flex: 0 0 40%;
    }
    
    .recursos {
        flex: 0 0 40%;
    }
    
    .subnavbar {
        flex: 0 0 40%;
        
    }
    
    .social-media {
        flex: 1;
    }
    
}

/* Media Query - Smartphones - Home Page */
@media only screen and (max-width: 480px) {
    
    /* Main Title */

    .main-title {
        font-size: 4rem;
        letter-spacing: 1rem;
    }

    .sub-title {
        font-size: 2.5rem;
    }

    /* Menu Section */
    .main-header__nav-icon {
        margin-right: 1rem;
        min-width: 4rem;
        min-height: 4rem;
    }

    .main-header__nav {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;

    }

    /* Menu list */

    .main-nav__items {
        display: flex;
        list-style: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
    }

    .main-nav__name {
        height: 7rem;
    }

    .main-nav__name span {
        line-height: 7rem;/* Center text vertically */
    }

    .main-nav__item {
        height: 5rem;
    }

    .main-nav__link {
        line-height: 5rem; /* Center text vertically */
    }

    /* Contact Section */
    .contact {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contact > * {
        text-align: center;
        margin-bottom: 2rem;
    }

    #footer {
        width: 100%;
    }
    
}
